<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>E-mail</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">


        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getUsername}"></td>
        <td th:text="${user.getPassword}"></td>
        <td>
            <form th:action="@{admin/edit}">
                <button type="submit" th:name="id" th:value="${user.id}">Edit</button>
            </form>

            <form th:action="@{admin/delete}">
                <button type="submit" th:name="id" th:value="${user.id}">DELETE</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>
<br/>
<hr/>
<input type="button" value="CREATE USER"
       onclick="window.location.href = 'admin/new'">
<br/>
<br/>
<form th:action="@{/logout}">
    <button type="submit">LOGOUT</button>
</form>
</body>
</html>