<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<th:block>
    <table>
        <tr>
            <td><b>Name:</b></td>
            <td th:text = "${user.firstName}"></td>
        </tr>
        <tr>
            <td><b>LastName:</b></td>
            <td th:text = "${user.lastName}"></td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td th:text = "${user.email}"></td>
        </tr>
        <tr>
            <td><b>USERNAME:</b></td>
            <td th:text = "${user.username}"></td>
        </tr>
        <tr>
            <td><b>PASSWORD:</b></td>
            <td th:text = "${user.password}"></td>
        </tr>

    </table>
</th:block>
<br/>
<hr/>
<form th:action="@{/logout}">
    <button type="submit">LOGOUT</button>
</form>
<br/>
</body>
</html>